{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
    //Source: W3 School
            $("#formoke").on( "submit", function(e) {
                var formData = JSON.parse(JSON.stringify(jQuery(this).serializeArray()))
                    $.ajax({
                    type: "POST",
                    url: "showText/",
                    data: formData,
                    success: function (response) {
                        var result = '';
                        var kritik = response[response.length-1].fields.kritik_saran;
                        result += "<table><tbody><tr><td style = 'font-weight : bold'>Kritik Saran: " + kritik + 
                        "</td></tr><br><tr><td></td></tr><br><br></tbody></table>";
                        $('#result').append(result);
                    }});
                
                    e.preventDefault();
            });

            function keyCode(event) {
            var x = event.keyCode;
                if (x == 13) {
                    alert ("EDUCOVID merupakan website edukasi mengenai virus COVID-19. Kami mempersembahkan website ini dengan harapan kami dapat berkontribusi dalam memberikan edukasi dan informasi serta meningkatkan awareness para pengunjung website terhadap COVID-19. Terima kasih telah mengunjungi website ini. Kritik dan saran kami terima untuk pengembangan website. Semoga wabah virus corona segera berakhir dan kita dapat beraktivitas dengan normal :)");
                }
            }

            function myFunction() {
                document.getElementById("demo").style.color = "#457B9D"
            }
            var mybutton = document.getElementById("myBtn");

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
            }

            //Tidak terpakai
            $('#enter img').hover(function(){
                this.src = "{% static 'photos/team.png' %}";
            }, function(){
                this.src = "{% static 'photos/team-copy.png' %}";
            });

            function bigImg(x) {
            x.style.width = "70%";
            }
            function normalImg(x) {
                x.style.width = "60%";
            }

    </script>

    <title>EDUCOVID - About Us</title>
    {% endblock %}
    {% block content %}
        <br>
        <br>
        <br>
        <br>
        <br>
        <p id="demo" onclick="myFunction()">Kritik dan Saran?</p> 
        <div class="container-fluid">
            {% if not request.user.is_authenticated %}
                <form id = "formoke" method="POST" action="showText/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}

                    <br>

                    <button type="submit" class="btn btn-danger float-center" style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">
                    Submit</button>
                </form>
                <br>
                <a href="aboutUs/tampilkan-kritik">
                        <button type="submit" class="btn btn-danger float-center" id="lihatPesan" style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;"> Result</button>
                </a>

                <br>
                <br>

                <p>Log In dan dapatkan GoPay senilai Rp500.000.000</p>

            {% else %}
                <form id = "formoke" method="POST" action="showText/" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}

                    <br>
        
                    <button type="submit" class="btn btn-danger float-center" style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">
                    Submit</button>
                </form>

                    <br>
                    
                    <a href="aboutUs/tampilkan-kritik">
                            <button type="submit" class="btn btn-danger float-center" id="lihatPesan" style="border-radius: 2em; font-size: 1em; padding-left: 1.5em; padding-right: 1.5em;">Result</button>
                    </a>
                </form>

                <br>
                <br>
                <br>

                <p>Thankyou {{request.user.username}}! Silahkan scan untuk dapatkan Gopay!</p>
                <img id="barcode" src="{% static 'photos/qrcode.png' %}" class="img-fluid" alt="Responsive image">

                <br>
                <br>

                {% endif %}

            <br>

            <div id="result"  >

            </div>
        </div>

        <svg viewBox = "0 0 1350 200">
            <text x="50%" y="90%" fill="black" text-anchor="middle">
                ABOUT US
            </text>
        </svg>
        <br>
        <br>
        <div id="center">
            <input id = "keypressed" type="text" value = "Click enter on the text field to see the description about Us!" size="70" onkeydown="keyCode(event)">
        </div>
        <br>
        <br>
        
        <p id="team">Tim Developer</p>

        <br>

        <div class="animated-text">
            <div class="line">Najwa Lathifah</div>
            <div class="line">Muhammad Fayaad</div>
            <div class="line">Yasyfa Azkaa</div>
            <div class="line">Aisyah Indonesia</div>
            <div class="line">Beltsazar Anugrah</div>
        </div>

        <br>
        <br>

        <button onclick = "topFunction()" id="myBtn" title="Go to top">Form Kritik Saran</button>
        <img src="{% static 'photos/team.png' %}" class="img-fluid" onmouseover="bigImg(this)" onmouseout="normalImg(this)" border="0" alt="Responsive image" width="60%" height="32">

{% endblock %}
