{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script>
    //Source: W3 School
        $("#formoke").on( "submit", function(e) {
            var formData = JSON.parse(JSON.stringify(jQuery(this).serializeArray()))
                $.ajax({
                type: "POST",
                url: "showText/",
                data: formData,
                success: function (response) {
                    var result = '';
                    var kritik = response[response.length-1].fields.kritik_saran;
                    result += "<table><tbody><tr><td style = 'font-weight : bold'>Kritik Saran: " + kritik + 
                    "</td></tr><br><tr><td></td></tr><br><br></tbody></table>";
                    $('#result').append(result);
                }});
            
                e.preventDefault();
        });
    </script>

    <title>EDUCOVID - About Us</title>
    {% endblock %}
    {% block content %}
    <div class = "kotak" style = "padding-top :5%">
        <svg viewBox = "0 0 1350 200">
            <text x="50%" y="40%" fill="black" text-anchor="middle">
                RESULT
            </text>
        </svg>
        <div id = "result";>
            {% for i in data %}
            <table>
                <tbody>
                <tr>
                    <td style= "font-weight:bold;">Kritik Saran:</td>
                </tr>
                <br>
                <tr>
                    <td>{{ i.kritik_saran }}</td>
                </tr>
                </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
    <br>
    <div class = "button-position" style="padding-bottom : 20%">
    </div>
    <br>

{% endblock %}








