{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'rs_rujukan.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'add_rs.css' %}">
	<title>EDUCOVID - RS Rujukan</title>
{% endblock %}
{% block content %}
<div class="container pagelist justify-content-center my-5">
	<div class="alert alert-success" role="alert" id="sukses" style="display: none;">
	  ✅ <strong>Berhasil</strong> Menambahkan Data Rumah Sakit! 
	</div>

	<a href="{% url 'rs_rujukan:index' %}"><button class="btn btn-primary mt-2">Back</button></a>
	
	<h1 class="text-center mt-3 mb-5"><bold>FORM PENAMBAHAN DATA RUMAH SAKIT</bold></h1>
	<br>
	<form method='POST' id="rs_form">
		{% csrf_token %}

		<label>Nama Rumah Sakit</label>
		<input type="text" class="form-control" id="nama" placeholder="Rumah Sakit.." required>
		<br>
		<label>Provinsi</label>
		<input type="text" class="form-control" id="provinsi" placeholder="Provinsi..." required>
		<br>
		<label>Alamat</label>
		<input type="text" class="form-control" id="alamat" placeholder="Alamat..." required>
		<br>
		<label>Nomor Telepon</label>
		<input type="text" class="form-control" id="telepon" placeholder="021-..." required>
		<br>
		<button type="submit" class="btn btn-primary mt-5">Submit</button>
	</form>

</div>


<script>
	// $("#sukses").hide()
	$("#rs_form").submit(function (e){
		e.preventDefault();

		$.ajax({
			type:'POST',
			url:'/rs_rujukan/add_rs/',
			data:{
				nama:$("#nama").val(),
				alamat:$("#alamat").val(),
				telepon:$("#telepon").val(),
				provinsi:$("#provinsi").val(),
				csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
            	action: 'post',
			},
			success: function(data){
	        	$("#sukses").show()
	        	setTimeout(function(){ $("#sukses").fadeOut(); }, 5000); 
	        	$("#rs_form").trigger("reset")
	        }
		})
	})
</script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js"></script>
{% endblock %}