{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'rs_rujukan.css' %}">
	<script type="text/javascript" src="{% static 'rs_rujukan.js' %}"></script>
	<title>EDUCOVID - RS Rujukan</title>
{% endblock %}
{% block content %}
<div class="container-fluid">
	{% for message in messages %}
 		{% if message.tags == 'success' %}
		<div class="alert alert-success">
		    <a class="close" data-dismiss="alert">❎</a>
		   	{{message}}
		</div>
		{% else %}
		<div class="alert alert-danger">
		    <a class="close" data-dismiss="alert">❌</a>
		   	{{message}}
		</div>
		{% endif %}
	{% endfor %}

	<h1 class="text-center m-5 judul">Daftar Rumah Sakit Rujukan</h1>
	
	<div class="bar d-flex text-center">
		<h5 class='rs_terdekat text-center'>🏥 RS Rujukan Provinsi Terdekat 🏥
			<br>
			<br>

			{% if request.user.is_authenticated %}
				<button id="find" class="btn btn-info btn-sm"><h5 style="margin:2px;">Cari 🔎</h5></button>
			{% else %}
				<p><small  class="text-muted">Harap login untuk menggunakan fitur ini</small></p>
			{% endif %}
			<div id="answer"></div>
			<button class="btn btn-danger btn-sm mt-3" id="call"><h5 style="margin:2px;">📞 Panggil Sekarang</h5>
			</button>
			<a href="#" id="link"></a>
		</h5>
	</div>
	

    <table class="table table-striped" id="mytable">
    	<thead class="thead table-bordered">
	        <tr>
	            <th style="width: 30%">Nama Rumah Sakit</th>
	            <th style="width: 15%">Provinsi</th>
	            <th>Alamat</th>
	            <th style="width: 12%">Telepon</th>
	        </tr>
	    </thead>
    	<tbody class="tbody table-bordered">
    	</tbody>
    </table>
    <br>
    <br>
    {% if request.user.is_superuser %}
	    <a  href="{% url 'rs_rujukan:add_rs' %}">
	    <button class="btn btn-primary my-5">Tambah Data Rumah Sakit</button></a>
	{% endif %}
</div>

<script>
	$("#call").hide();
	$("#find").click(function() {
		var nama_rs = ""
		$.ajax({
			url : "/rs_rujukan/rs_api",
			success : function(data){
				var array_rs = data
				for (i = 0; i < array_rs.length; i++){
					var provinsi = array_rs[i].fields.provinsi
					var telepon = array_rs[i].fields.telepon
					if (provinsi.toLowerCase() == "{{ provinsi }}".toLowerCase() && telepon != '-'){
						$("#find").hide();
						nama_rs = array_rs[i].fields.nama;
						alamat = array_rs[i].fields.alamat;
						$("#answer").append(nama_rs + "<br><br>Alamat : " + alamat +  ", " + provinsi)
						$("#mytable_filter :input").val(nama_rs)
						$("#mytable_filter :input").keyup()
						$("#mytable_filter :input").val("")
						$("#call").show()
						var nomor = "tel:" + telepon
						$("#link").attr("href", nomor)
						break;
					}
				}
			}
		})
	})
</script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script> -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.6/js/responsive.bootstrap.min.js"></script>
{% endblock %}
