:root {
    --base-font-size: 16px;
    --dark-green: #457B9D;
    --light-green: #A8DADC;
    --pale-green: #F1FAEE;
    --red: #E63946;
}

#title {
    color: #1D3557 !important;
}

body {
    background-color: var(--dark-green) !important;
}

.tally-number {
    font-size: calc(1.3 * var(--base-font-size));
}

#links .row *, #about {
    font-size: calc(1.2 * var(--base-font-size)) !important;
}

#description, #link-1, #link-3 {
    background-color: var(--light-green);
}

#about {
    text-align: center;
}

#tally-board {
    color: #E63946;
    font-weight: bold;
}

#recovered {
    color: #457B9D;
}


#description {
    color: #1D3557;
    text-align: center;
}

#links a, #an_url{
    color: #1D3557 !important;
    text-align: center;
}

.wrapper {
    padding-top: 30px;
    padding-bottom: 80px;
}