:root {
    --base-font-size: 16px;
    --dark-green: #457B9D;
    --light-green: #A8DADC;
    --pale-green: #F1FAEE;
    --red: #E63946;
}


#title {
    font-size: calc(1.7 * var(--base-font-size));
}

.bold {
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.danger {
    font-family: Roboto;
    font-weight: bold;
    color: black !important;
    text-decoration: underline var(--red) solid;
    text-decoration-thickness: 4px;
}

.safe {
    font-family: Roboto;
    font-weight: bold;
    color: black !important;
    text-decoration: underline var(--light-green) solid;
    text-decoration-thickness: 4px;
}

#force-get-API-table, #predict-table {
    display: none;
}
