/* ===== App  wide ===== */
body {
    background-color: #A8DADC;
}

/* ===== Test page ===== */

#test-main {
    padding-top: 2rem;
}

#uji-judul {
    font-weight: bold;
}

#test-form {
    background-color: #457B9B;
    padding: 2.3rem;
    border-radius: 12.5px;
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
}

#test-form ul {
    list-style-type: none;
}

#fq {
    padding-top: 20px;
    padding-bottom: 10px;
}


/* ==== Result page ==== */

#res-main {
    padding-top: 2rem;
}

#form-gejala-obj {
    margin-left: auto;
    margin-right: auto;
}

#tsb {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

#res-dis {
    margin-top: 4vh;
    margin-bottom: 27vh;
}