{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
<link rel="stylesheet" href="{% static 'covid_count/styles.css' %}">
<link rel="stylesheet" href="{% static 'covid_count/index_styles.css' %}">
<title>EDUCOVID - Home</title>
{% endblock %}

{% block content %}
<div id = "page-wrapper container-fluid">
    <div id = "title-card" class = "card container my-3 text-center py-3 bold">
    <span id = "title"> 🦠 Selamat datang di EDUCOVID 😷 </span>
    </div>
    <div id = "description" class = "card container my-3 py-3">
    EDUCOVID merupakan website edukasi mengenai virus COVID-19 yang saat ini sedang mewabah di Indonesia dan hampir seluruh dunia. Website ini bertujuan untuk memberikan edukasi mengenai definisi, gejala, cara penularan, 
    dan cara pencegahan virus COVID-19. Selain itu, website ini juga memuat informasi seperti banyaknya kasus COVID-19 yang sedang terjadi sekarang ini serta lokasi pusat kesehatan sebagai rujukan jika dibutuhkan.
    </div>
    <div class = "card container my-3 py-3">
        <div id = "tally-board" class = "row">
           <div class ="col-md-3 text-center">
           <p class ="tally-sub">Terkonfirmasi</p>
           <p class ="tally-number danger">{{ confirmed }}</p>
           </div>
           
           <div class ="col-md-3 text-center">
           <p class ="tally-sub">Meninggal</p>
           <p class ="tally-number danger">{{ deaths }}</p>
           </div>
           
           <div class ="col-md-3 text-center">
           <p class ="tally-sub" id="recovered">Sembuh</p>
           <p class ="tally-number safe">{{ recovered }}</p>
           </div>
           
           <div class ="col-md-3 text-center">
           <p class ="tally-sub">Aktif</p>
           <p class ="tally-number danger">{{ active }}</p>
           </div>
        </div>
        <div class = "container text-center">
        <a id="an_url" href= "{% url 'covid_count:table' %}">
        Lihat data selengkapnya
        </a>
        </div>
    </div>
    <div id = "links" class = "container my-3">
        <div class = "row">
        <div id = "link-1" class = "card container col-md-4 py-3">
        <a href = "{% url 'edukasi:edukasi' %}">
        Edukasikan diri anda lebih lanjut mengenai COVID-19!
        </a>
        </div>
        <div id = "link-2" class = "card container col-md-4 py-3">
        <a href = "{% url 'rs_rujukan:index' %}">
        Lihat daftar rujukan RS berdasarkan provinsi anda!
        </a>
        </div>
        <div id = "link-3" class = "card container col-md-4 py-3">
        <a id="" href = "{% url 'screening_tests:test' %}">
        Isi kuesioner singkat mengenai  gejala COVID-19!
        </a>
        </div>
        </div>
    </div>
    <div id = "about" class = "card container my-3 py-3">
    <a id="an_url" href = "{% url 'aboutUs:aboutUs' %}">
    Lihat tim developer website ini!
    </a>
    </div>
    
</div>
{% endblock %}