{% extends 'base.html' %}
{% load static %}

{% block additional-styles %}
<link rel="stylesheet" href="{% static 'covid_count/styles.css' %}">
<link rel="stylesheet" href="{% static 'covid_count/table_styles.css' %}">
<title>EDUCOVID - Data</title>
{% if request.user.is_authenticated %}
<script src = "{% static 'covid_count/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endif %}
{% endblock %}

{% block content %}
<div id = "page-wrapper">
    <div id = "title-card" class = "card container text-center bold my-3 py-3">
    <span id = "title"> COVID-19 Track </span>
    </div>
    <div class = "container my-3 py-3">
    <table class = "table" id = "table">
        <thead id = "table-header">
            <th scope = "col" class = "table-column">
            Waktu
            </th>
            <th scope = "col" class = "table-column">
            Terkonfirmasi
            </th>
            <th scope = "col" class = "table-column">
            Meninggal
            </th>
            <th scope = "col" class = "table-column">
            Sembuh
            </th>
            <th scope = "col" class = "table-column">
            Aktif
            </th>
        </thead>
        <tbody>
        {% for entry in database %}
        <tr class = "table-row">
            <th scope = "row" class = "table-column">
            {{ entry.date_accessed }}
            </th>
            <td class = "table-column">
            {{ entry.confirmed }}
            </td>
            <td class = "table-column">
            {{ entry.deaths }}
            </td>
            <td class = "table-column">
            {{ entry.recovered }}
            </td>
            <td class = "table-column">
            {{ entry.active }}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    
    {% if request.user.is_authenticated %}
    <div class = "card container text-center my-3 py-3">
        <div class = "container mb-3">
            <div class = "row">
                <button id = "force-get-API" type="submit" class="col-md-6 btn btn-outline-success">Get new data</button>
                <button id = "force-add-data" type="submit" class="col-md-6 btn btn-outline-success">Add this data to this site</button>
            </div>
        </div>
        <div id = "force-get-API-table" class = "card container">
            <div class = "row">
               <div class ="col-md-3 text-center">
               <p class ="tally-sub">Terkonfirmasi</p>
               <p id = "force-get-API-table-tally-positif" class ="tally-number danger"></p>
               </div>
               
               <div class ="col-md-3 text-center">
               <p class ="tally-sub">Meninggal</p>
               <p id = "force-get-API-table-tally-meninggal" class ="tally-number danger"></p>
               </div>
               
               <div class ="col-md-3 text-center">
               <p class ="tally-sub">Sembuh</p>
               <p id = "force-get-API-table-tally-sembuh" class ="tally-number safe"></p>
               </div>
               
               <div class ="col-md-3 text-center">
               <p class ="tally-sub">Aktif</p>
               <p id = "force-get-API-table-tally-aktif" class ="tally-number danger"></p>
               </div>
            </div>
        </div>
    </div>
    <div class = "card container text-center my-3 py-3">
        <div class = "container mb-3">
            <div class = "row">
                <button id = "predict" type="submit" class="btn btn-outline-success col-md-11">Get predictions for tomorrow</button>
                <span id = "prediction-tooltip" class="btn btn-success col" title="This prediction works by using advanced machine learning algorithms and taking into account various variables outside of just the current data such as weather conditions and stock options fluctuations">❔</span>
            </div>
        </div>
        <div id = "predict-table" class = "card container row">
            <div class = "row">
                <div class ="col-md-3 text-center">
                <p class ="tally-sub">Terkonfirmasi</p>
                <p id = "predict-table-tally-positif" class ="tally-number danger"></p>
                </div>

                <div class ="col-md-3 text-center">
                <p class ="tally-sub">Meninggal</p>
                <p id = "predict-table-tally-meninggal" class ="tally-number danger"></p>
                </div>

                <div class ="col-md-3 text-center">
                <p class ="tally-sub">Sembuh</p>
                <p id = "predict-table-tally-sembuh" class ="tally-number safe"></p>
                </div>

                <div class ="col-md-3 text-center">
                <p class ="tally-sub">Aktif</p>
                <p id = "predict-table-tally-aktif" class ="tally-number danger"></p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}