*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #A8DADC;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1115px;
}

svg text {
    font-family: 'Poppins', sans-serif;
    stroke: #c4c4c4;
    stroke-width: 3;
    position: absolute;
    font-weight: bold;
    font-size: 100px;
    line-height: 240px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: textAnimate 4s infinite alternate;
}

@media screen and (min-width: 601px) {
    h1 {
      font-size: 50px;
    }
    .line{
        font-size:30px;
    }
  }

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
    }
    100% {
        stroke-dasharray: 50% 0;
    }
}

#demo{
    font-size: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    line-height: 108px;
    text-align: center;
    color: #000000;
}

.centre-items, .col, .container-fluid{
    text-align: center;
}

#id_kritik_saran {
    height: 10vw;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #F1FAEE;
}
div.form {
    display: block;
}

#center{
    text-align: center;
}

#keypressed{
    height: 5vw;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #F1FAEE;
}

.animated-text{
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 0 15px;
    height: 50px;
    width:375px;
    overflow: hidden;
    text-align: center;
    font-family: Roboto Mono;
}

.line{
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;

}

.line:first-child{
    animation: anim 15s infinite;
}

@keyframes anim{
    0%{
        margin-top: 0;
    }
    12%{
        margin-top: -60px;
    }
    25%{
        margin-top: -120px;
    }
    36%{
        margin-top: -180px;
    }
    48%{
        margin-top: -240px;
    }
    66%{
        margin-top: -180px;
    }
    77%{
        margin-top: -120px;
    }
    88%{
        margin-top: -60px;
    }
    100%{
        margin-top: 0;
    }
}

h5 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 35px;
    font-size: 20px;
    font-weight: normal;
    margin-right: 15vw;
    margin-left: 15vw;
}

#team{
    text-align: center;
    font-weight: bold;
    font-family: Roboto Mono;
}

#ok {
    text-align: center;
}

.container{
    text-align:center;
    display: flex;
    justify-content: center;
}

#warna{
    color: #c4c4c4;
    background-color:#457B9D;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width:200px;
    height: 150px;
    padding:10px;
}

#barcode {
    width: 20%;
}

#myBtn {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #E63946;
    color: white;
    cursor: pointer;
    padding: 13px;
    border-radius: 4px;
  }
  
#myBtn:hover {
background-color: #457B9D;
}

#lihatPesan{
    text-align: center;
}

 