body{
	background-color: #A8DADC;
}
.container-fluid{
	width: 80%;
	overflow: auto;
	margin-right:10%;
}

.judul{
	color: #1D3557;
	text-shadow: 3px 3px #F1FAEE;
}
.searchbar{
	color: #1D3557;
}

.thead{
	color: #F1FAEE;
	background-color: #457B9D;
}
.tbody{
	color: #1D3557;
	background-color: #F1FAEE;
}
.table thead th{
	border-bottom: none;
	border-top: none;
	border-collapse: collapse;
}

.table td{
	padding: 20px;
}

tr{
	border-bottom: 3px solid #E63946;
}

.alamat{
	text-transform: capitalize;
}

.notfound{
	color: #1D3557;
}

.bar{
    align-items: center;
    padding: auto;
	margin-top: 7%;
	margin-bottom: 5%;
	/*display: flex;*/
}

.rs_terdekat{
	margin: auto;
	padding: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
    background-color: white;
    border-radius: 30px;
   	display: inline;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	color: #1D3557;
}

.page-link {
	background-color: #f1faee;
    border-color: #457b9d;
}

.page-item.disabled .page-link{
	background-color: #f1faee;
    border-color: #457b9d;
}

.page-item.active .page-link{
	background-color: #457b9d;
    border-color: #457b9d;
    color : white !important;
}


.dataTables_info{
	font-weight:600;
	color: #1D3557;
}

.dataTables_length{
	font-weight:600;
	color: #1D3557;
}

.custom-select{
	background-color: #f1faee;
    border-color: #457b9d;
}

div.dataTables_wrapper div.dataTables_filter input{
	background-color: #f1faee;
    border-color: #457b9d;
    /*width: 300px;*/
}

div.dataTables_wrapper div.dataTables_length label{
	font-size: 1.17em; 
	font-weight: 600;
	color: #1D3557;

}

div.dataTables_wrapper div.dataTables_filter label{
	font-size: 1.17em; 
	font-weight: 600;
	color: #1D3557;
}

div.col-sm-12 div.col-md-6{
	flex: 0 0 100%;
    max-width: 100%;
}

.btn-primary:hover{
	background-color:#2b4f66;
	border-color: #2b4f66;
}
.btn-primary{
	background-color:#457B9D;
	border-color: #457B9D;
}